sudo: false
os: linux
language: c
cache: ccache
services:
  - docker

notifications:
  email:
    recipients:
      - jasuarez+mesa-travis@igalia.com
      - tanty+mesa-travis@igalia.com

branches:
  only:
    # TODO: tag the released ones using something like
    #       $ git describe | cut -d "-" -f 2
    - released/17.0
    - released/17.1
    - released/17.1.3
    - pre-release/17.0
    - pre-release/17.1
    - jasuarez/master
    - jasuarez/17.0
    - jasuarez/17.1
    - agomez/17.0
    - agomez/17.1

env:
  global:
    - LLVM=3.9
    - MAKEFLAGS="-j4"
    - DEBUG=false
  matrix:
    - BUILD=autotools
    - BUILD=autotools
      DEBUG=true
    - BUILD=distcheck
    - BUILD=gallium
      LLVM=4.0
    - BUILD=gallium
      LLVM=3.9
    - BUILD=gallium
      LLVM=3.8
    - BUILD=gallium
      LLVM=3.6
    - BUILD=gallium
      LLVM=3.3
    - BUILD=gallium
      LLVM=0.0
    - BUILD=scons
    - BUILD=scons
      LLVM=0.0
    - BUILD=windows

before_script:
  - wget https://raw.githubusercontent.com/Igalia/mesa-dockerfiles/master/Rockerfile.mesa
  - wget https://github.com/grammarly/rocker/releases/download/1.3.0/rocker_linux_amd64.tar.gz
  - tar xvf rocker_linux_amd64.tar.gz
  - rm rocker_linux_amd64.tar.gz
  - mkdir -p -m777 ~/.ccache

script:
  - ./rocker build -f Rockerfile.mesa --var BUILD=$BUILD --var LLVM=$LLVM --var DEBUG=$DEBUG --var TAG=${TRAVIS_BRANCH%%/*}-${TRAVIS_BRANCH##*/}$(${DEBUG:-false} && printf ".debug")

after_success:
  - if [[ -n "$DOCKER_USERNAME" && "$BUILD" == "autotools" && "$LLVM" == "3.9" && "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
      if [[ "${TRAVIS_BRANCH%%/*}" == "pre-release" || "${TRAVIS_BRANCH%%/*}" == "released" ]]; then
        docker push igalia/mesa:${TRAVIS_BRANCH%%/*}-${TRAVIS_BRANCH##*/}$(${DEBUG:-false} && printf ".debug");
      fi;
      if [[ "${TRAVIS_BRANCH%%/*}" == "jasuarez/master" ]]; then
        docker tag igalia/mesa:${TRAVIS_BRANCH%%/*}-${TRAVIS_BRANCH##*/} igalia/mesa:master;
        docker push igalia/mesa:master;
      fi
    fi
