sudo: false
os: linux
language: c
cache: ccache
services:
  - docker

notifications:
  email:
    recipients:
      - jasuarez+mesa-travis@igalia.com
      - tanty+mesa-travis@igalia.com

branches:
  only:
    # TODO: tag the released ones using something like
    #       $ git describe | cut -d "-" -f 2
    - released/17.0
    - released/17.1
    - pre-release/17.0
    - pre-release/17.1
    - jasuarez/master
    - jasuarez/17.0
    - jasuarez/17.1
    - agomez/master
    - agomez/17.0
    - agomez/17.1

env:
  global:
    - LLVM=3.9
    - MAKEFLAGS="-j4"
    - DEBUG=false
    - TAR=false

before_script:
  - wget "$ROCKERFILES_BASE_URL"/"$ROCKERFILE_MESA"
  - wget https://github.com/grammarly/rocker/releases/download/1.3.0/rocker_linux_amd64.tar.gz
  - tar xvf rocker_linux_amd64.tar.gz
  - rm rocker_linux_amd64.tar.gz
  - mkdir -p -m777 ~/.ccache

script:
  - ./rocker build -f $ROCKERFILE_MESA --var BUILD=$BUILD --var LLVM=$LLVM --var DEBUG=$DEBUG --var TAR=$TAR --var TAG=${TRAVIS_BRANCH%%/*}-${TRAVIS_BRANCH##*/}$(${DEBUG:-false} && printf ".debug")

after_success:
  - if [[ -n "$DOCKER_USERNAME" && "$BUILD" == "autotools" && "$LLVM" == "3.9" && "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
      if [[ "${TRAVIS_BRANCH%%/*}" == "pre-release" || "${TRAVIS_BRANCH%%/*}" == "released" ]]; then
        docker push "$DOCKER_REPOSITORY"/"$DOCKER_IMAGE_NAME":${TRAVIS_BRANCH%%/*}-${TRAVIS_BRANCH##*/}$(${DEBUG:-false} && printf ".debug");
      fi;
      if [[ "${TRAVIS_BRANCH%%/*}" == "jasuarez/master" ]]; then
        docker tag "$DOCKER_REPOSITORY"/"$DOCKER_IMAGE_NAME":${TRAVIS_BRANCH%%/*}-${TRAVIS_BRANCH##*/} "$DOCKER_REPOSITORY"/"$DOCKER_IMAGE_NAME":master;
        docker push "$DOCKER_REPOSITORY"/"$DOCKER_IMAGE_NAME":master;
      fi
    fi

jobs:
  include:
    - stage: Basic builds
      env: BUILD=distcheck
      script:
        - ./rocker build -f $ROCKERFILE_MESA --var BUILD=$BUILD --var LLVM=$LLVM --var DEBUG=$DEBUG --var TAR=$TAR --var TAG=${TRAVIS_BRANCH%%/*}-${TRAVIS_BRANCH##*/}.distcheck
      after_success:
        - if [[ -n "$DOCKER_USERNAME" && "$TRAVIS_PULL_REQUEST" == "false" ]]; then
            docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
            docker push "$DOCKER_REPOSITORY"/"$DOCKER_IMAGE_NAME":${TRAVIS_BRANCH%%/*}-${TRAVIS_BRANCH##*/}.distcheck;
          fi
    - env: BUILD=autotools
    - env: BUILD=autotools DEBUG=true
    - env: BUILD=gallium LLVM=4.0
    - env: BUILD=gallium LLVM=3.9
    - env: BUILD=gallium LLVM=3.8
    - env: BUILD=gallium LLVM=3.6
    - env: BUILD=gallium LLVM=3.3
    - env: BUILD=gallium LLVM=0.0
    - env: BUILD=scons
    - env: BUILD=scons LLVM=0.0
    - env: BUILD=windows

    - stage: Post distcheck builds
      env: BUILD=autotools TAR=true
      after_success: skip
    - env: BUILD=scons TAR=true
      after_success: skip
    - env: BUILD=windows TAR=true
      after_success: skip
