sudo: false
os: linux
language: c
services:
  - docker

notifications:
  email:
    recipients:
      - jasuarez+mesa-travis@igalia.com
      - tanty+mesa-travis@igalia.com

branches:
  only:
    - wip/master
    - wip/17.0
    - jasuarez/17.0

env:
  global:
    - LLVM=3.9
    - MAKEFLAGS="-j$(getconf _NPROCESSORS_ONLN)"
  matrix:
    - BUILD=autotools
    - BUILD=autotools
      LLVM=3.8
    - BUILD=autotools
      LLVM=3.6
#    - BUILD=autotools
#      LLVM=3.3
    - BUILD=scons
    - BUILD=windows
    - BUILD=distcheck

before_script:
  - pip install docker-jinja
  - wget https://raw.githubusercontent.com/Igalia/mesa-dockerfiles/master/Dockerfile.mesa.jinja

script:
  - dj -d Dockerfile.mesa.jinja -o Dockerfile -e BUILD=$BUILD -e LLVM=$LLVM -e MAKEFLAGS=$MAKEFLAGS
  - docker build -f Dockerfile -t igalia/mesa:$(echo -n $TRAVIS_BRANCH | cut -f2 -d/) .

after_success:
  - if [[ -n "$DOCKER_USERNAME" && "$BUILD" == "autotools" && "$LLVM" == "3.9" ]]; then
      docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
      docker push igalia/mesa:$(echo -n $TRAVIS_BRANCH | cut -f2 -d/);
    fi
